* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	display: flex;
	flex-direction: row;
	background: #ededed;
	position: relative;
	z-index: 1;
}

.Main-container-sidebar {
	flex-basis: 15%;
	height: 100vh;
	min-height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	box-shadow: 0px 4px 4px 0px #00000040;
}

.main-container-page {
	flex-basis: 85%;
	min-height: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow-y: scroll;
}
.main-container-page::-webkit-scrollbar {
	display: none;
}
.main-container-page-analytics {
	flex-basis: 85%;
	min-height: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trending-heading {
	font-family: Poppins;
	font-size: 35px;
	font-weight: 600;
	line-height: 52.5px;
	text-align: left;
	color: #474444;
}
